@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$mobile: 480px;

input {
    min-width: 0 !important;
}

.flash {
    pointer-events: none;
    top: -4rem;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #cbd5e1;
}

.description {
    max-width: 21rem;
}

.area_border {
    @media (hover: none) and (max-width: $mobile) {
        margin-top: 1.7rem;
    }
}

.area_container {
    width: 300px;
    height: 300px;
    @media (hover: none) and (max-width: $mobile) {
        width: 150px;
        height: 150px;
    }
    tr td {
        padding: 0;
        margin: 0;
    }
}

#turnCounter {
    top: -1.5rem;
}

.board_container {
    width: 300px;
    height: 300px;
}

.stats_container {
    width: 290px;
    height: 290px;
    top: 5px;
    left: 5px;
    @media (hover: none) and (max-width: $mobile) {
        top: -6.3rem;
        left: -70px;
        border: 2px solid black;
    }
}

.hint {
    top: 110px;
    left: 45px;
    @media (hover: none) and (max-width: $mobile) {
        top: 2.5rem;
        left: -30px;
    }
}

.hint-login {
    top: -5.3rem;
    @media (max-width: 639px) {
        top: -2.3rem;
    }
}

.area_cell {
    width: 5%;
    height: 5%;
}

.button-disabled {
    background-color: #ddd !important;
}

.userStatsActive {
    @apply bg-blue-600 text-white hover:bg-blue-500;
}

.userStatsInactive {
    @apply bg-white text-gray-800 hover:bg-blue-50;
}
