@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$mobile: 480px;

input {
    min-width: 0 !important;
}

.flash {
    pointer-events: none;
    top: -4rem;
}

.area_border {
    @media (hover: none) and (max-width: $mobile) {
        margin-top: 1.7rem;
    }
}

.area_container {
    width: 300px;
    height: 300px;
    @media (hover: none) and (max-width: $mobile) {
        width: 150px;
        height: 150px;
    }
}

#turnCounter {
    top: -1.5rem;
}

.board_container {
    width: 300px;
    height: 300px;
}

.stats_container {
    width: 290px;
    height: 290px;
    top: 5px;
    left: 5px;
    @media (hover: none) and (max-width: $mobile) {
        top: -6.3rem;
        left: -70px;
        border: 2px solid black;
    }
}

.area_cell {
    width: 10%;
    height: 10%;
}

.button-disabled {
    background-color: #ddd !important;
}
