@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.area_container,
.board_container {
    width: 300px;
    height: 300px;
}

.stats_container {
    width: 290px;
    height: 290px;
    top: 5px;
    left: 5px;
}

.area_cell {
    width: 10%;
    height: 10%;
}

.button-disabled {
    background-color: #ddd !important;
}
