<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Profile Update - Aest</title>
	</head>
	<body>
		<p>Hello
			{{ pseudo }},</p>
		<p>Your profile has been updated on Aest.fr !</p>
		<br>
		<p>Aest</p>
	</body>
</html>
