<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}Aest - Area estimation tool
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<meta name="description" content="Aest. Area estimation tool. A training tool for visual assessment of crop diseases."/>
	</head>
	<body class="font-mono flex flex-col min-h-screen items-center px-3 sm:px-4 max-w-xl mx-auto bg-gray-50">

		<header class="font-bold mt-4 sm:mt-8 w-full">
			<h1 class="mx-auto text-4xl sm:text-5xl text-gray-700 max-w-min pt-1.5">Aest</h1>
		</header>

		<main class="flex-grow flex flex-col items-center w-full"> {% block body %}{% endblock %}
			</main>
		</body>
	</html>
