<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Registration - Aest</title>
	</head>
	<body>
		<p>Hello
			{{ pseudo }},</p>
		<p>Thank you for for signing up to Aest game !</p>
		<p>Below is the e-mail address you've registered with on Aest.fr. Use it to login and reset your password &#40;if you happen to forget it &#59;&#41;&#41;.</p>
		<p>E-mail address &#40;login&#41;:
			<span>
				<b>{{ email }}</b>
			</span>
		</p>
		<p></p>
		<p>Looking forward to seeing you up in the Leaderboard !
		</p>
		<br>
		<p>Aest</p>
	</body>
</html>
